.navbar {
  background-color: #77bfa3;
}
.link {
  color: whitesmoke !important;
}
.btnNav{
  background-color: transparent;
  border: 2px solid #F0723A;
  border-radius: 5px;
  color:white;
}
.btnNav:hover{
  transform: scale(1.05);
}
.btnNav:focus{
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #F0723A;
}
.cart:hover{
  transform: scale(1.2);
}